      <footer class="container">
        <hr>
        <p class="pull-right">
          <a href="https://www.bcube-dresden.de/wiki/Diez_Group">Diezlab Wiki</a>
          &middot; <a href="#">Back to top</a>
        </p>
        <p>&copy; 2014 <a href="http://www.bcube-dresden.de/research-groups/diez/home/">Till Korten @ Diezlab</a> &middot;
          powered by <a href="https://jquery.org/license/">jQuery</a>
          &middot; <a href="http://getbootstrap.com/getting-started/#license-faqs">Bootstrap</a>
          &middot; <a href="https://github.com/eternicode/bootstrap-datepicker">Bootstrap-datepicker</a>
          &middot; <a href="http://www.amcharts.com/javascript-charts/am">amCharts</a>
        </p>
      </footer>
