  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>
    <!-- build:css:tidy {{site.baseurl}}/assets/css/tidy.css -->
    <!-- build:css:min {{site.baseurl}}/assets/css/bootstrap_datepicker_custom.min.css -->
    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap datepicker CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <!-- Amcharts Export CSS -->
    <link href="{{ site.baseurl }}/assets/amcharts/plugins/export/export.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
    <!-- /build -->
    <!-- /build -->
    {% if page.supportIE == true %}<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->{% endif %}
  </head>
