    <!-- Jquery,Bootstrap and amcharts JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- build:js {{site.baseurl}}/assets/js/jquery_bootstrap_amcharts_custom.min.js -->
    <script src="{{ site.baseurl }}/assets/js/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap-datepicker.js"></script>

    <!-- AmCharts prerequisites -->
    <script src="{{ site.baseurl }}/assets/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/amcharts/serial.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/amcharts/themes/dark.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/amcharts/plugins/export/export.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/amcharts/plugins/export/libs/fabric.js/fabric.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/amcharts/plugins/export/libs/FileSaver.js/FileSaver.js" type="text/javascript"></script>
    <!-- cutom functions -->
    <script src="{{ site.baseurl }}/assets/js/custom.js" type="text/javascript"></script>
    <!-- /build -->
  