.container {
  padding: 50px;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}

.login input[type=text], .login input[type=password] {
  width: 278px;
}


.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: #fffaf6;
  border-radius: 4px;
  border: solid 1px;
}

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #111111;
  text-align: center;
  text-shadow: 0 1px white;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
/*  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke; 
  box-shadow: 0 5px whitesmoke; */
}

